.keyframe-editor {
  --canvas-height: 50px;
  --btn-height: 10px;
  height: calc(var(--canvas-height) + var(--btn-height));
  cursor: pointer;
  transition: .5s;
  position: relative;
}
.keyframe-editor.collapsed {
  height: 10px;
}

.canvas-container {
  height: var(--canvas-height);
  overflow: hidden;
  background: rgb(226, 226, 226);
  transition: .5s;
}
.canvas-container.collapsed {
  height: 0px;
}

.expand-contract-toggle > * {
  user-select: none;
  height: var(--btn-height);
}
.expand-contract-toggle {
  background: rgb(32, 33, 44);
  display: grid;
  grid-template-columns: 20px 1fr;
  align-content: center;
  padding: 0 8px;
}

.expand-contract-toggle .icon {
  display: flex;
  justify-content: center;
}
.expand-contract-toggle .icon span {
  transform: rotate(90deg) scale(.5, 1);
  transition: .5s;
}
.expand-contract-toggle.collapsed .icon span {
  transform: rotate(90deg) scale(-.5, 1);
}

.expand-contract-toggle .name {
  color: rgba(255, 255, 255, 0.4);
  font-size: 9px;
}
